# Ignore compiled Python files
*.pyc

# Ignore Python bytecode cache directories
__pycache__/
.pytest_cache/

# Ignore environment files (e.g., virtualenv or dotenv)
.env
/env/

# Ignore macOS system files
.DS_Store

# Ignore VSCode project settings
/.vscode/

# Ignore general log files
logfile.txt

# Exclude everything inside the `data` folder
data/*

# Include specific files and folders in `data`
!data/__init__.py
!data/orbits/
!data/orbits/json/
!data/orbits/xml/
!data/orbits/csv/
!data/trajectories/
!data/trajectories/json/
!data/trajectories/xml/
!data/trajectories/csv/

# Exclude files inside the subdirectories of `orbits` and `trajectories`
data/orbits/json/*
data/orbits/xml/*
data/orbits/csv/*
data/trajectories/json/*
data/trajectories/xml/*
data/trajectories/csv/*
